@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
}

h1,
h2 {
    text-align: center;
}

.board {
    display: flex;
    justify-content: space-around;
    background-color: rgb(244, 247, 253);
}

.column {
    width: 30%;
}

.column h2 {
    color: rgb(130, 143, 163);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
}

.card {
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px 0px rgba(54, 78, 126, 0.1015);
    padding: 23px 16px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.cardLink {
    color: rgb(0, 1, 18);
    text-decoration: none;
}

.cardTitle {
    font-weight: bold;
    font-size: 1rem;
    line-height: 19px;
}

.taskform {
    display: flex;
    flex-direction: column;
}

.primaryBtn {
    background-color: rgb(99, 95, 199);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
    line-height: 19px;
    border-radius: 24px;
    border: none;
    padding: 15px 60px;
    cursor: pointer;
}

.formTask {
    background-color: rgb(255, 255, 255);
}

.formInput {
    display: flex;
    flex-direction: column;
}

.formInput label {
    font-weight: bold;
    color: rgb(130, 143, 163);
    font-size: 0.75rem;
}

.formInput input,
.formInput textarea,
.formInput select {
    border-color: rgba(130, 143, 163, 0.25);
    border-radius: 4px;
}