<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kanban Board</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <header th:insert="~{fragments/header}"></header>
        <form th:action="@{/createTask}" method="post">
            <button type="submit" class="primaryBtn">Neue Aufgabe</button>
        </form>
        <main class="board">
            <section class="column">
                <header>
                    <h2 th:text="${'offen (' + amountOpenTasks + ')'}">offen (Anzahl)</h2>
                </header>
                <div th:insert="~{fragments/frTasks :: article(${openTasks})}"></div>
            </section>
             <section class="column">
                <header>
                    <h2 th:text="${'in Arbeit (' + amountInProgressTasks + ')'}">in Arbeit (Anzahl)</h2>
                </header>
                 <div th:insert="~{fragments/frTasks :: article(${inProgressTasks})}"></div>
            </section>
             <section class="column">
                <header>
                    <h2 th:text="${'bearbeitet (' + amountCompletedTasks + ')'}">bearbeitet (Anzahl)</h2>
                </header>
                 <div th:insert="~{fragments/frTasks :: article(${completedTasks})}"></div>
            </section>
        </main>
        <footer th:insert="~{fragments/footer}"></footer>
    </body>
</html>