<!DOCTYPE html>
<!-- <html xmlns:th="http://www.thymeleaf.org"> -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kanban Board</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/styles.css}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1>Kanban Board</h1>
        </header>
        <main class="board">
            <section class="column">
                <header>
                    <h2>offen</h2>
                </header>
                <div th:insert="~{fragments/task2 :: article(~{ :: .task})}"></div>
            </section>
             <section class="column">
                <header>
                    <h2>in Arbeit</h2>
                </header>
                <article class="task">
                    <h3>Aufgabe 1</h3>
                </article>
                <article class="task">
                    <h3>Aufgabe 2</h3>
                </article>
            </section>
             <section class="column">
                <header>
                    <h2>bearbeitet</h2>
                </header>
                <article class="task">
                    <h3>Aufgabe 1</h3>
                </article>
                <article class="task">
                    <h3>Aufgabe 2</h3>
                </article>
            </section>



            <section class="column">
                <header>
                    <h2>RandomTest</h2>
                </header>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task : ${tasks}">
                            <td th:text="${task.id}"></td>
                            <td th:text="${task.title}"></td>
                            <td th:text="${task.description}"></td>
                            <td th:text="${task.status}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </main>
    </body>
</html>